<table>
    {% for row_letter in row_letters %}
    <tr>
    {% for col_number in col_numbers %}
        {% set cell = row_letter + col_number %}
        {% set cell_value = value_dict[cell] %}
        <td 
            id="{{cell}}"
            onkeydown="handleCellKeyDown(event, '{{ row_letters }}', '{{ col_numbers}}', '{{ possible_digits }}')"
            contenteditable="true"
            onblur="updateCell('{{cell}}', this.innerText.trim(), '{{violating_cells}}')"
            class="{% if cell in initial_clues %}initial-clue{% endif %}"
        >
            {{cell_value if cell_value != EMPTY_CELL else ''}}
        </td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>