<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 user-scalable=no">
        <title>Sudoku</title>
        <link rel="stylesheet" href="../static/sudoku.css">    
        <script src="../static/sudoku.js"></script>

    </head>

    <body>
        <h1>Sudoku</h1>
        {% include 'sudoku_table.html' %}
        <button class="btn btn-primary ms-3" onclick="getGameState()">Check solution</button>
        <div id="game_state" style="margin-top:10px;"></div>
    </body>
</html>